---
export interface Props {
  name: string;
  username: string;
  notifications: string;
  messages: string;
  followers: string;
}
const { name, username, notifications, messages, followers } = Astro.props;
---

<div>
  <h3>{name}</h3>
  <p>{username}</p>
  <ul>
    <li>Notifications: {notifications}</li>
    <li>Messages: {messages}</li>
    <li>Followers: {followers}</li>
  </ul>
</div>
